.cart {
  position: relative;
  z-index: 9999;
  width: 40px;
  height: 35px;
  margin-left: 1.5rem;
  transition: var(--fast-transition);

  &.active {
    & ~ .cart__products {
      visibility: visible;
      opacity: 1;
      transform: translateY(5px);
      .cart__bg {
        display: block;
      }
    }
  }
  #cart-svg {
    position: relative;
    z-index: 100;
    cursor: pointer;
    transition: var(--fast-transition);
    path {
      fill: var(--color3);
    }
    &:hover {
      path {
        fill: var(--color5);
      }
    }
  }

  &-fish {
    position: absolute;
    top: -13px;
    bottom: 0;
    left: 0;
    right: -27px !important;
    margin: auto;
    cursor: pointer;
    // &:hover {
    //   opacity: 0.75;
    // }
    svg {
      position: absolute;
      z-index: 999;
      right: 10px;
      opacity: 0.7;
      filter: drop-shadow(0px 1px 2px rgb(1, 20, 28, 0.95));
      path {
        fill: var(--color2);
      }
    }
  }
  &-fish__number {
    position: absolute;
    top: -1px;
    bottom: 0;
    left: 16px;
    right: 0;
    z-index: 9999;
    // margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 30px;
    font-size: 0.95rem;
    color: var(--color4);
    font-weight: 700;
    text-shadow: 0px 1px 3px rgb(1, 20, 28, 0.95);
    text-align: center;
  }

  &__products {
    position: absolute;
    top: 65px;
    right: -10px;
    right: 0;
    z-index: 99;
    width: 90vw;
    max-width: 650px;
    height: 100vh;
    max-height: 510px;
    background-color: var(--color4);
    box-shadow: rgb(1, 20, 28, 0.25) 0px 0px 2px 2px;
    border-radius: 3px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-25%);
    transition: var(--fast-transition);
    // &:hover {
    //   visibility: visible;
    //   opacity: 1;
    //   transform: translateY(0%);
    // }
    &-bg {
      position: absolute;
      top: -30px;
      right: 15px;
      z-index: -1;
      z-index: 1;
      width: 80px;
      height: 80px;
      background-color: transparent;
    }
    .cart__bg {
      display: none;
      position: absolute;
      top: -80px;
      right: -15px;
      z-index: -1;
      width: 100vw;
      height: 100vh;
      background-color: transparent;
    }
  }
}

.cart-list {
  position: relative;
  padding: 1rem 0 0 1rem;
  height: 100%;
  z-index: 99;
  &__products {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    height: calc(100% - 100px);
    overflow-y: auto;
    .product {
      flex-direction: row;
      align-items: center;
      width: 100%;
      max-width: 100%;

      .stars {
        display: none;
      }

      &__img {
        width: 35%;
        height: 100%;
        max-height: 160px;
        max-width: 160px;
        // max-width: 150px;
        object-fit: cover;
        border-radius: 3px;
        box-shadow: rgb(1, 20, 28, 0.25) 0px 1px 2px 1px;
      }

      &__content {
        display: flex;
        flex-direction: column;
        margin-left: 0.5rem;
      }

      &__title {
        font-size: 1.2rem;
      }

      &__price {
        font-size: 1.25rem;
      }
      &__description {
        font-size: 0.9rem;
      }

      .btn {
        margin: auto;
        text-align: center;
        max-width: 200px;

        &:hover {
          color: var(--color3);
        }
      }

      .add-delete {
        justify-content: start;
        &__add,
        &__delete {
          font-size: 1.2rem;
          width: 25px;
          height: 25px;
        }
      }
    }
  }

  &__next {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem;
    height: 100px;
    padding: 1rem;
    border-top: solid 1px var(--color3-50);
    background-color: var(--color4);
    .btn {
      &.disabled {
        background-color: gray;
        opacity: 0.5;
        color: var(--color3);
        border-color: var(--color3);
        cursor: default;
      }
      &:hover {
        color: var(--color3);
      }
    }
  }

  &__total {
    // position: absolute;
    // right: 3%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 700;
    .text {
      color: var(--color1);
    }
    .number {
      font-size: 1.4rem;
      margin-left: 0.3rem;
      color: var(--color3);
    }
  }
}
