.nav__container {
  padding: 0.5rem;
  padding-bottom: 0rem;
  position: relative;
  z-index: 10000;
}

.nav {
  position: sticky;
  top: 8px;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: calc(100% - 1rem);
  max-width: 1440px;
  height: 4.375rem;
  padding-inline: clamp(1.25rem, calc(0.88rem + 1.83vw), 2.19rem);
  background-color: var(--color4);
  box-shadow: 0px 2px 6px 1px rgba(1, 20, 28, 0.2);
  border-radius: 3px;
  transition: var(--slow-transition);
  &.down {
    top: -100%;
    // width: 100%;
    // max-width: 100%;
  }
  &.up {
    top: 8px;
    // top: 0px;
    // width: 99%;
    // max-width: 99%;
    // border-radius: 0px;
  }
  &.active {
    border-bottom-right-radius: 0px;
    position: sticky;
    top: 8px;
    &__list {
      right: 0;
    }
  }

  &--checkout {
    top: 0;
    z-index: 9999999;
    width: 100%;
    max-width: 100%;
    &.down {
      top: -100%;
    }
    &.up {
      box-shadow: 0px 2px 3px 1px rgba(1, 20, 28, 0.1);
      top: 0;
    }
    &.active {
      border-bottom-right-radius: 0px;
      position: sticky;
      top: 0;
      .nav__list {
        top: 70px;
        right: 0;
        z-index: -1;
      }
    }

    .nav__list {
      top: 70px;
      right: -100%;
      z-index: -1;
      transition: var(--fast-transition);
      .nav__link {
        font-size: 1.15rem;
      }
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    width: 65px;
    cursor: pointer;
    img {
      width: 100%;
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    .nav__bar {
      display: flex;
      align-items: center;
      cursor: pointer;
      svg {
        width: 30px;
        // margin-left: 1.5rem;
        transition: var(--fast-transition);
        path {
          fill: var(--color3);
        }
        &:hover {
          path {
            fill: var(--color5);
          }
        }
      }
    }
  }

  .cart.desk {
    display: none;
  }

  .cart-fish {
    overflow-x: hidden;
  }

  &__transparent {
    position: absolute;
    z-index: -1;
    top: 4.375rem;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    visibility: hidden;
    &.active {
      visibility: visible;
    }
  }

  &__list {
    position: fixed;
    top: 4.88rem;
    right: -98%;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
    max-width: 40.625rem; // 650px
    height: calc(100vh - 70px);
    text-align: center;
    opacity: 0;
    background-color: var(--color4);
    box-shadow: 0px 2px 6px 1px rgba(1, 20, 28, 0.2);
    transition: var(--slow-transition);
    @media screen and (min-width: 770px) {
      box-shadow: none;
    }
    &.active {
      right: 0.5rem;
      opacity: 1;
    }
  }

  &__item {
    margin-bottom: 3rem;
    list-style: none;
    font-size: 1.4rem;
    font-family: var(--font1);
  }

  &__item:nth-last-child(1) {
    margin-bottom: 0;
  }

  &__link {
    position: relative;
    opacity: 1;
    font-weight: 500;
    font-size: 1rem;
    color: var(--color3);
    font-family: var(--font1);
    transition: var(--fast-transition);
    &::before {
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      margin: auto;
      content: "";
      width: 100%;
      height: 2px;
      background-color: var(--color2);
      transform-origin: left;
      transform: scaleX(0%);
      transition: var(--fast-transition);
    }
    &::after {
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      margin: auto;
      content: "";
      width: 100%;
      height: 2px;
      background-color: var(--color2);
      transform-origin: right;
      transform: scaleX(0%);
      transition: var(--fast-transition);
    }
  }

  &__link.active,
  &__link:hover {
    color: var(--color5);
    opacity: 1;
    &::before,
    &::after {
      transform: scaleX(100%);
    }
  }

  @media screen and (min-width: 900px) {
    &__icons {
      display: none;
    }
    .cart.desk {
      display: block;
    }
    &__list {
      position: static;
      flex-direction: row;
      align-items: center;
      opacity: 1;
      height: fit-content;
      width: fit-content;
      background-color: none;
    }

    &__item {
      margin-bottom: 0;
      font-size: 1.063rem; //17px
      margin-left: 2rem;
    }
  }
}

.nav__next {
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  z-index: 9999999;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: auto;
  width: 90vw;
  // padding: 1rem;
  height: 60px;
  background-color: var(--color4);
  box-shadow: 0px 2px 6px 1px rgba(1, 20, 28, 0.2);
  border-radius: 5px;
  transition: var(--slow-transition);
  @media screen and (min-width: 768px) {
    display: none;
  }
  &.hidden {
    transform: translateY(150%);
  }
  &-buy {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    height: 100%;
    color: var(--color4);
    font-weight: 500;
    background-color: var(--color1);
    border-radius: 5px;
    svg {
      margin-left: 0.3rem;
      transform: rotate(-90deg);
      path {
        stroke: var(--color4);
        stroke-width: 2px;
      }
    }
  }
}
