:root {
  --color1: #00a5e9;
  --color1-20: rgba(0, 165, 233, 0.2);
  --color2: #42c3f7;
  --color2-20: rgba(66, 195, 247, 0.2);
  --color3: #003a6b;
  --color3-50: rgba(0, 58, 107, 0.5);
  --color4: #f0fafe;
  --color5: #000b0f;
  --color5-2: rgba(0, 11, 15, 0.2);
  //
  --font1: "Montserrat", sans-serif;
  //
  --border: 3px;
  --box-shadow: rgb(1, 20, 28, 0.25) 0px 2px 3px 1px;

  --general-padding: clamp(1.56rem, calc(-0.67rem + 11.16vw), 9.38rem);
  --content-padding: 25px;
  --max-width: 1124px;
  --content-width: 1140px;

  --fast-transition: all 0.2s ease-in-out;
  --slow-transition: all 0.4s ease-in-out;
}

@media screen and (min-width: 770px) {
  :root {
    --general-padding: clamp(1.56rem, calc(-0.67rem + 11.16vw), 9.38rem);
    --content-padding: 50px;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --content-padding: 100px;
  }
}

@media screen and (min-width: 1225px) {
  :root {
    --general-padding: 0px;

    // --content-padding: 80px;
  }
}
